{% extends "entries/base.html" %}

{% block content %}
    <article class="d-flex mt-4">
        <h2 class="bg-info px-2">{% now "Y-m-d H:i" %}</em></h2>
        <a href="{% url 'entry-create' %}"><button class="btn btn-primary ml-4 px-5 py-2">Add new entry</button></a>
    </article>
    {% for entry in entry_list %}
        <article class="d-flex align-items-center">
            <h2 class="{{ entry.date_created|date:'l' }} px-2 mr-4">
                {{ entry.date_created|date:'Y-m-d H:i' }}
            </h2>
            <h3>
                <a href="{% url 'entry-detail' entry.id %}">
                    {{ entry.title }}
                </a>
            </h3>
        </article>
    {% endfor %}
{% endblock %}
